html, body, div, header, section, h1, h2, h3, h4, h5, h6, p, ul, li{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

input{
    box-sizing: content-box;
}